body {
  background-color: #f8e8a6;
}
h1,
p {
  text-align: center;
}

.croissant-pictures {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
.photo-head {
  display: block;
}
div a {
  margin: 0 15px;
  color: green;
}
div {
  text-align: center;
}
